
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
@model List<TournamentVM>
<div class="text-center">
    <h1>Tournaments</h1>
    <a class="btn btn-primary" asp-action="Create"> Add new tournament</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Teams</th>
                <th scope="col">Format</th>

                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (TournamentVM tournamentVM in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@tournamentVM.Name</td>
                    <td>

                        @foreach (TeamTournament teamTournament in tournamentVM.TeamTournaments)
                        {
                            <div>@teamTournament.Team.Name</div>

                        }
                    </td>

                    <td>

                        @tournamentVM.TournamentFormat
                    </td>
                    <td>
                        <a asp-action="GenerateTable" asp-route-id="@tournamentVM.Id" class="btn btn-primary">Table</a>
                        <a asp-action="GenerateMatches" asp-route-id="@tournamentVM.Id" class="btn btn-primary">Matches</a>
                        <form asp-action="Delete" asp-route-id="@tournamentVM.Id" method="post" onsubmit="return confirm('Do you want to delete?');">
                            <button class="btn btn-danger">Delete</button>
                        </form>

                    </td>

                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

